<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 :</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center">Pre-workshop Setup</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td rowspan="2" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/high-dimensional-stats-r/">High-Dimensional Statistics with R</a></td>        <!-- content -->
        <td>Introduction</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Regression with many features</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:45 - 11:00</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 :</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="1" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/high-dimensional-stats-r/">High-Dimensional Statistics with R</a></td>        <!-- content -->
        <td>Regularised regression</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:45 - 11:00</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 :</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="2" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/high-dimensional-stats-r/">High-Dimensional Statistics with R</a></td>        <!-- content -->
        <td>Principal component analyses</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Factor analysis</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:45 - 11:00</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 : </h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="2" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/high-dimensional-stats-r/">High-Dimensional Statistics with R</a></td>        <!-- content -->
        <td>K-means clustering</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Hierarchical clustering</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:45 - 11:00</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
